<div id="profile">
      <h3 class="title">Profile</h3>
      <img src="<?= $picture[rand(0,2)] ?>" width="250" height="250">
    </div>
    <div>
      <form method="post" action="fileupload.php" enctype="multipart/form-data">
        <h3>Image Upload</h3>
        <input type="file" name="fileToUpload" id="fileToUpload">
        <br><br>
        <input type="submit" value="submit image" name="imageFile">
      </form>
    </div>
    <div id="phone-number-search">
      <form method="GET" action="index.php">